build/*
*.log
*cache*
*Cache*
*/venv/*
*/venv*
*/venv2/*


motor2040_led_rainbow.cpp
motor2040_position_on_velocity_control.cpp
serial_binary_test.cpp
serial_motor copy.cpp
serial_motor_pos_vel.cpp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_deps
generated
Makefile
pico_flash_region.ld
pico-sdk
pioasm
pioasm-install
CMakeLists_ref.txt
apa102.pio.h
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
encoder.pio.h
firmwareTurret.bin
firmwareTurret.dis
firmwareTurret.elf
firmwareTurret.elf.map
# firmwareTurret.uf2
libbitmap_fonts.a
libpico_graphics.a
Makefile
pwm_cluster.pio.h
st7789_parallel.pio.h
ws2812.pio.h
venv
venv2
*/serialPlot.py